# 编译输出
/out/
/target/
/build/
*.class

# IDE配置
/.idea/
/.vscode/

# 依赖库
/libs/

# 日志
*.log

# 临时文件
*.tmp

# 配置文件中的敏感信息（如果有）
 *.properties
# application.yml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Mac OS ###
.DS_Store

JS_VUE12/src/js/axios.js
JS_VUE12/src/js/vue.esm-browser.js

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/